<!DOCTYPE html>
{% load static %}
<html lang="en">


<!-- ./index-8.html  22 Nov 2019 09:56:59 GMT -->
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{ store.site_name}} - {{ store.site_tagline }}</title>
    <meta name="keywords" content="{{ store.site_keywords }}">
    <meta name="description" content="{{ store.meta_description }}">
    <meta name="author" content="Dipto Dhar">
    <!-- Favicon -->
 <link rel="shortcut icon" href="{{ store.favicon.url }}" type="image/x-icon">
     <!-- <link rel="icon" type="image/png" sizes="32x32" href="{% static "store/assets/images/icons/favicon-32x32.png" %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static "store/assets/images/icons/favicon-16x16.png" %}">
    <link rel="manifest" href="{% static "store/assets/images/icons/site.html">
    <link rel="mask-icon" href="{% static "store/assets/images/icons/safari-pinned-tab.svg" color="#666666">
    <link rel="shortcut icon" href="{% static "store/assets/images/icons/favicon.ico">
    <meta name="apple-mobile-web-app-title" content=".">
    <meta name="application-name" content=".">
    <meta name="msapplication-TileColor" content="#cc9966">
    <meta name="msapplication-config" content="{% static "store/assets/images/icons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff"> -->
    <!-- Plugins CSS File -->
    <link rel="stylesheet" href="{% static "store/assets/css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "store/assets/css/plugins/owl-carousel/owl.carousel.css" %}">
    <link rel="stylesheet" href="{% static "store/assets/css/plugins/magnific-popup/magnific-popup.css" %}">
    <link rel="stylesheet" href="{% static "store/assets/css/plugins/jquery.countdown.css" %}">
    <!-- Main CSS File -->
    <link rel="stylesheet" href="{% static "store/assets/css/style.css" %}">
    <link rel="stylesheet" href="{% static "store/assets/css/skins/skin-demo-8.css" %}">
    <link rel="stylesheet" href="{% static "store/assets/css/demos/demo-8.css" %}">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
</head>

<body>
    <style>
:root {
    --button-color: {{ store.button_color }};
    --button-bg-color: {{ store.button_bg_color }};
    --title-color: {{ store.heading_color }};
    --primary-color: {{ store.primary_color }};
}
/* Style for search popup */
.search-popup {
    display: none; /* Hidden by default */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Background overlay */
    z-index: 9999;
    align-items: center;
    justify-content: center;
}

.search-content {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    position: relative;
}

.search-content form{
    width: 100%;
}
.search-content form .title{
    margin-bottom: 20px;
}

/* Close button style */
.close {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 24px;
    cursor: pointer;
    color: white;
}

.product-price .new-price{
    color: var(--primary-color)!important;
}

.title{
    color: var(--title-color);
}
a:hover{
    color: var(--primary-color);
}
/* Primary Button */
.btn-primary, 
.btn-product {
    color: var(--button-color) !important;
    background-color: var(--button-bg-color) !important;
    border-color: var(--button-bg-color) !important;
    box-shadow: none;
}

.btn-primary:hover,
.btn-product:hover {
    background-color: transparent !important;
    border-color: var(--button-bg-color) !important;
    color: var(--button-bg-color) !important;
}

/* Outline Button */
.btn-outline {
    color: var(--button-bg-color) !important;
    background-color: transparent !important;
    border-color: var(--button-bg-color) !important;
    box-shadow: none !important;
}

.btn-outline:hover {
    color: var(--button-color) !important;
    background-color: var(--button-bg-color) !important;
    border-color: var(--button-bg-color) !important;
    box-shadow: none !important;
}
.p-d-a{
    display: flex;
    align-items: center;
}
.product-main-image img{
    max-height: 600px;
    object-fit: cover;
}
        .product-price{
            font-weight: 600;
            font-size: 17px;
        }

        /* Basic styling for the modal */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    justify-content: center; /* Center horizontally */
    align-items: center!important;
}

@media(max-width:768px){
    .modal-content {
 
    padding: 20px!important;
    width: 90%!important;
   
}
.modal-content {
    margin-top: 200px!important;
}

}
.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    width: 450px;
    text-align: center;
}

.close {
    color: var(--primary-color);
    float: right !important;
    font-size: 28px;
    font-weight: bold;
    text-align: end;
}

.close:hover,
.close:focus {
    color: var(--primary-color);
    text-decoration: none;
    cursor: pointer;
}

.modal-buttons {
    margin-top: 20px;
}

.modal-buttons .btn {
    padding: 10px 20px;
    margin: 5px;
    color: white;
    text-decoration: none;
    
}

.logo img {
    display: block;
    max-height: 100px;
    min-height: 65px;
    padding: 10px 0;

}


.intro-subtitle {
    font-size: 2.8rem;
}
.banner-content {
    
left:unset;
right: 2rem;
text-align: end;
}
.banner-big .banner-content {
   
    max-width: 577px;
   
}
.banner-big .banner-content h3 {
    font-size: 7rem;
}   

.icon-box-card:hover, .icon-box-card:focus {
    color: var(--primary-color);
    border-color: unset;
    background-color:unset;
}

.icon-box-card:hover .icon-box-title, .icon-box-card:hover .icon-box-icon, .icon-box-card:hover p, .icon-box-card:focus .icon-box-title, .icon-box-card:focus .icon-box-icon, .icon-box-card:focus p {
    color: var(--primary-color);
}

.owl-carousel .owl-item .product-image {

    max-height: 320px;
    object-fit: cover;
}

.chckout-row,.cart_row{
    justify-content: space-between;
}
.chckout-row .summary,.cart_row .summary{
    padding: 0;
    background-color: #fff;
    border: none;
}
.checkout .form-control:not(:focus) {
    background-color: #ffffff;
    border-radius: 10px;
}
.shiping_summary,.shiping_details,.cart_details,.cart_summary{
    box-shadow: 0px 0px 20px #00000017;
    border-radius: 15px;
    padding: 30px;
}
.product-col{
    padding: 1rem 0!important;
}

.product-col .product-media{
    border-radius: 10px;
}

.page-header.page-header-big {
min-height:300px !important;
}

{{store.additional_css}}

</style>
    <div class="page-wrapper">
        <header class="header">
            <div class="header-bottom sticky-header">
                <div class="container">
                    <div class="header-left">
                        <button class="mobile-menu-toggler">
                            <span class="sr-only">Toggle mobile menu</span>
                            <i class="icon-bars"></i>
                        </button>
                        
                        <a href="{% url 'home' %}" class="logo">
                            <img src="{{ store.logo.url }}" alt="{{ store.site_name}}" >
                        </a>
                    </div>
                    <div class="header-center">
                        <nav class="main-nav">
                            <ul class="menu sf-arrows">
                                <li class="megamenu-container ">
                                    <a href="{% url 'home' %}" class="sf-with-li">Home</a>

                                  
                                </li>
                                <li>
                                    <a href="{% url 'shop' %}" class="sf-with-li">Shop</a>

                          
                                </li>
                                <li>
                                    <a href="{% url 'category' %}" class="sf-with-ul">Collections</a>

                                    <div class="megamenu megamenu-sm">
                                        <div class="row no-gutters">
                                            <div class="col-md-6">
                                                <div class="menu-col">
                                                    <div class="menu-title">Our Collections</div><!-- End .menu-title -->
                                                    <ul>
                                                        {% for category in categories %}
                                                        <li><a href="{% url 'shop' category.slug %}">{{category.name}}</a></li>
                                                        {% endfor %}
                                                        <!-- <li><a href=""><span>Extended Info<span class="tip tip-new">New</span></span></a></li> -->
                                                     
                                                    </ul>
                                                </div><!-- End .menu-col -->
                                            </div><!-- End .col-md-6 -->

                                            <div class="col-md-6">
                                                <div class="banner banner-overlay">
                                                    <a href="{% url 'category' %}">
                                                        <img src="{% static "store/assets/images/menu/banner-2.jpg" %}" alt="Banner">

                                                        <div class="banner-content banner-content-bottom">
                                                            <div class="banner-title text-white">New Trends<br><span><strong>spring 2019</strong></span></div><!-- End .banner-title -->
                                                        </div><!-- End .banner-content -->
                                                    </a>
                                                </div><!-- End .banner -->
                                            </div><!-- End .col-md-6 -->
                                        </div><!-- End .row -->
                                    </div><!-- End .megamenu megamenu-sm -->
                                </li>
                                <li>
                                    <a href="{% url 'about' %}" class="sf-with-li">About</a></li>
                                <li>
                                    <a href="{% url 'contact' %}" class="sf-with-li">Contact</a></li>

                                   
                         
            
                            </ul><!-- End .menu -->
                        </nav><!-- End .main-nav -->
                    </div><!-- End .header-left -->

                    <div class="header-right">
                        <div class="header-search">
                            <a href="#" class="search-toggle" role="button"><i class="icon-search"></i></a>
                        </div>
                        
                        <div class="search-popup" id="searchPopup">
                            <div class="search-content"> <span class="close">&times;</span>
                               
                            <form action="{% url 'search' %}" method="GET">
                                <h2 class="title">Search For: </h2>
                                <input type="text" name="query" placeholder="Search..." class="form-control" />
                                <button type="submit" class="search-button btn btn-primary">Search</button>
                            </form>
                            </div>
                        </div>
                        
                        <div class="dropdown user-dropdown">
                            <a href="#" class="wishlist-link " id="userDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="icon-user"></i>
                            </a>
                            <div class="dropdown-menu" aria-labelledby="userDropdown">
                                {% if user.is_authenticated %}
                                    <a class="dropdown-item btn-outline" href="{% url 'my-account' %}">My Account</a>
                                  
                                    <a class="dropdown-item btn-primary" href="{% url 'logout' %}">Logout</a>
                                {% else %}
                                    <a class="dropdown-item btn-primary" href="{% url 'login' %}">Login</a>

                                    <a class="dropdown-item btn-primary" href="{% url 'register' %}">Register</a>
                                {% endif %}
                            </div>
                        </div>
            
                        <div class="dropdown cart-dropdown" id="cart-dropdown">
                            <a href="#" class="dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-display="static">
                                <i class="icon-shopping-cart"></i>
                                <span class="cart-count" id="cart-count">{{cart|length}}</span>
                                <span class="cart-txt"><span id="total-price">{{ store.store_currency}}{{total_price}}</span></span>
                            </a>

                            <div class="dropdown-menu dropdown-menu-right">
                                <div class="dropdown-cart-products" id="dropdown-cart-products">
                                    {% for product in cart_items %}
                                    <div class="product " id="product-{{ product.id }}">
                                        <div class="product-cart-details">
                                            <h4 class="product-title">
                                                <a href="{% url 'product' product.slug %}">{{product.name}}</a>
                                            </h4>

                                            <span class="cart-product-info">

                                                {% for key, value in qty.items %}
													 {% if key == product.id|slugify %}
								
													 <span class="cart-product-qty" class="p-3">{{ value }} X</span>

											{% endif %}	{% endfor %}

                                            {% if product.on_sale %}		
											{{product.sale_price}} {{ store.store_currency}}
											{% else %}
											{{product.regular_price}} {{ store.store_currency}}
											{% endif %}
                                            </span>
                                        </div><!-- End .product-cart-details -->

                                        <figure class="product-image-container">
                                            <a href="{% url 'product' product.slug %}" class="product-image">
                                                <img src="{{ product.image.url }}" %}" alt="product">
                                            </a>
                                        </figure>
                                        <button class="btn-remove" id="remove-item" data-index="{{product.id}}" value="{{product.id}}"><i class="icon-close"></i></button>


                                    </div><!-- End .product -->
                                    {% endfor %}
                                </div><!-- End .cart-product -->

                                <div class="dropdown-cart-total">
                                    <span>Total &nbsp;</span>

                                   <span id="dropdown-total">{{total_price}} {{ store.store_currency}}</span>
                                </div><!-- End .dropdown-cart-total -->

                                <div class="dropdown-cart-action">
                                    <a href="{% url 'cart' %}" class="btn btn-primary">View Cart</a>
                                    <a href="{% url 'checkout' %}" class="btn btn-outline">Checkout<i class="icon-long-arrow-right"></i></a>
                                </div><!-- End .dropdown-cart-total -->
                            </div><!-- End .dropdown-menu -->






                        </div><!-- End .cart-dropdown -->
                    </div><!-- End .header-right -->
                </div><!-- End .container -->
            </div><!-- End .header-bottom -->
        </header><!-- End .header -->

        <main class="main">

    <!-- {% if user.is_authenticated %}
    <a href="{% url '' %}">Hello {{user.name}}</a>
    <a href="{% url 'logout' %}">Logout</a>
    {% else %}
    <a href="{% url 'login' %}">Login</a>
    <a href="{% url 'register' %}">Register</a>
    {% endif %}

    {% if form.errors %}
    <div class="alert alert-danger alert-dismissible fade show mb-0" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">×</span>
      </button>
      <i class="fa fa-check mx-2"></i>
      {% for field in form %}
      {% if field.errors %}
          {{field.errors}}
      {% endif %} 
      {% endfor %}
    </div>
    {% endif %}
    -->
    {% block body_block %}

    {% endblock %} 

  </main><!-- End .main -->




  <footer class="footer bg-light">
    <div class="footer-middle">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-lg-3">
                    <div class="widget widget-about">
                        <img src="{{ store.logo.url }}" class="footer-logo text-left" alt="{{ store.site_name}} - {{ store.site_tagline }}" width="122" height="25" >
                        <p>{{ store.site_description }}</p>
                        <div class="mb-1"></div>
                        <p>{{ store.store_address }}</p>
                       <p> <a href="tel:{{store.phone_number}}">{{store.phone_number}}</a></p>
                    </div>
                </div><!-- End .col-lg-6 -->

                <div class="col-sm-4 col-lg-3">
                    <div class="widget">
                        <h4 class="widget-title text-dark">Information</h4>
                        <ul class="widget-list">
                            <li><a href="{% url 'about' %}">About Us</a></li>
                            <li><a href="{% url 'shop' %}">Shop</a></li>
                            <li><a href="{% url 'contact' %}">Contact Us</a></li>
                            <li><a href="{% url 'terms' %}">Terms & Conditions</a></li>
                            <li><a href="{% url 'privacy-policy' %}">Privacy Policy</a></li>
                        </ul>
                    </div>
                </div><!-- End .col-lg-2 -->

                <div class="col-sm-4 col-lg-3">
                    <div class="widget">
                        <h4 class="widget-title text-dark">Customer Service</h4>
                        <ul class="widget-list">
                            <li><a href="{% url 'checkout' %}">Checkout</a></li>
                            <li><a href="{% url 'my-orders' %}">My Orders</a></li>
                            <li><a href="{% url 'wishlist' %}">Wishlist</a></li>
                            <li><a href="{% url 'contact' %}">Help</a></li>
                        </ul>
                    </div>
                </div><!-- End .col-lg-2 -->

                <div class="col-sm-4 col-lg-3">
                    <div class="widget">
                        <h4 class="widget-title text-dark">My Account</h4>
                        <ul class="widget-list">
                            <li><a href="{% url 'login' %}">Sign In</a></li>
                            <li><a href="{% url 'my-account' %}">Account Dashboard</a></li>
                            <li><a href="{% url 'update_account' %}">Update Account</a></li>
                            <li><a href="{% url 'update_shipping' %}">Shipping Information</a></li>
                        </ul>
                    </div>
                </div><!-- End .col-lg-2 -->
            </div><!-- End .row -->
        </div><!-- End .container -->
    </div><!-- End .footer-middle -->

    <div class="footer-bottom">
        <div class="container">
            <p class="footer-copyright">{{ store.copyright}}</p>
          
            <div class="social-icons">
                <span class="social-label">Follow Us</span>
                <a href="#" class="social-icon" title="Facebook"><i class="icon-facebook-f"></i></a>
                <a href="#" class="social-icon" title="Twitter"><i class="icon-twitter"></i></a>
                <a href="#" class="social-icon" title="Instagram"><i class="icon-instagram"></i></a>
                <a href="#" class="social-icon" title="YouTube"><i class="icon-youtube"></i></a>
            </div>
        </div>
    </div><!-- End .footer-bottom -->
</footer><!-- End .footer -->





</div><!-- End .page-wrapper -->
<button id="scroll-top" title="Back to Top"><i class="icon-arrow-up"></i></button>

<!-- Mobile Menu -->
<div class="mobile-menu-overlay"></div><!-- End .mobil-menu-overlay -->

<div class="mobile-menu-container">
  <div class="mobile-menu-wrapper">
      <span class="mobile-menu-close"><i class="icon-close"></i></span>

      <form action="#" method="get" class="mobile-search">
          <label for="mobile-search" class="sr-only">Search</label>
          <input type="search" class="form-control" name="mobile-search" id="mobile-search" placeholder="Search in..." required>
          <button class="btn btn-primary" type="submit"><i class="icon-search"></i></button>
      </form>
      
      <nav class="mobile-nav">
          <ul class="mobile-menu">
              <li class="">
                  <a href="{% url 'home' %}">Home</a>

              </li>
              <li>
                  <a href="{% url 'category' %}">Shop</a>
          

              </li>
              
          </ul>
      </nav><!-- End .mobile-nav -->

      <div class="social-icons">
          <a href="#" class="social-icon" target="_blank" title="Facebook"><i class="icon-facebook-f"></i></a>
          <a href="#" class="social-icon" target="_blank" title="Twitter"><i class="icon-twitter"></i></a>
          <a href="#" class="social-icon" target="_blank" title="Instagram"><i class="icon-instagram"></i></a>
          <a href="#" class="social-icon" target="_blank" title="Youtube"><i class="icon-youtube"></i></a>
      </div><!-- End .social-icons -->
  </div><!-- End .mobile-menu-wrapper -->
</div><!-- End .mobile-menu-container -->

<!-- Success Modal -->
<div id="cart-success" class="modal">
    <div class="modal-content">
        <span class="close" id="close-cart-susccess">&times;</span>
        <h3>Product Added to Cart</h3>
        <p>Your product has been added to the cart successfully.</p>
        <div class="modal-buttons">
            <a href="{% url 'cart' %}" class="btn btn-primary">View Cart</a>
            <a href="{% url 'checkout' %}" class="btn btn-secondary">Checkout</a>
        </div>
    </div>
</div>




<script>
    $(document).on('click','#add-cart',function(e){

        e.preventDefault();
        $.ajax({
            type: 'POST',
            url:'{% url 'add_cart' %}',
            data: {
                product_id:$(this).data('index'),
                item_qty:$('#item-qty').val(),
                csrfmiddlewaretoken:'{{ csrf_token }}',
                action: 'post',
            },

            success: function(json){
                document.getElementById('cart-count').textContent=json.qty;
                document.getElementById('total-price').textContent=json.total_price;
                $('#dropdown-total').text(json.total_price); 
                
                let newProductHtml = `
                    <div class="product" id="product-${json.product_id}">
                        <div class="product-cart-details">
                            <h4 class="product-title">
                                <a href="#">${json.product_name}</a>
                            </h4>
                            <span class="cart-product-info">
                                <span class="cart-product-qty">${json.qty} x </span>
                                <span class="cart-product-price">${json.product_price}</span>
                            </span>
                        </div>
                        <figure class="product-image-container">
                            <a href="#" class="product-image">
                                <img src="${json.product_img}" alt="product">
                            </a>
                        </figure>
                        <button class="btn-remove" id="remove-item" data-index="${json.product_id}" value="${json.product_id}"><i class="icon-close"></i></button>
                        
                    </div>`;
                
                $('#dropdown-cart-products').append(newProductHtml);
                $('#cart-success').css("display", "flex");

            },
            error: function(xhr, errmsg, err){

            }




        });


    // Get the modal
    var modal = document.getElementById("cart-success");

    // Get the <span> element that closes the modal
    var span = document.getElementById("close-cart-susccess");

    // When the user clicks on <span> (x), close the modal
    span.onclick = function() {
        modal.style.display = "none";
    }

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function(event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }


    });



    
$(document).ready(function() {
    // Add event listener for the "+" button
    $('.btn-increase').on('click', function(e) {
        e.preventDefault(); // Prevent the default action of the anchor tag
        let productId = $(this).data('index'); // Get the product ID from data attribute
        updateCartQuantity(productId, 'increase'); // Call the function to update cart
    });

    // Add event listener for the "-" button
    $('.btn-decrease').on('click', function(e) {
        e.preventDefault(); // Prevent the default action of the anchor tag
        let productId = $(this).data('index'); // Get the product ID from data attribute
		console.log(productId)
        updateCartQuantity(productId, 'decrease'); // Call the function to update cart
    });

    function updateCartQuantity(productId, action) {
        $.ajax({
            url: '{% url "update-cart" %}',  // URL for the view handling the request
            method: 'POST', // Use POST method to send data
            data: {
                'product_id': productId, // Product ID to identify the item
                'action': action, // Action to perform (increase/decrease)
                'csrfmiddlewaretoken': '{{ csrf_token }}',  // CSRF token for security
            },
            success: function(response) {
                // Update the cart quantity and total price on success
                $('#quantity-' + productId).text(response.new_quantity); // Update the quantity
                
                $('#total-price').text(response.total_price); // Update the total price
                $('#cart_total').text(response.total_price); // Update the total price
                // Update the total price
                $('#dropdown-total').text(response.total_price); 
            },
            error: function(xhr, status, error) {
                console.error('Error:', status, error);
                console.error('Response:', xhr.responseText);
            }
        });
    }
});



$(document).on('click','#remove-item',function(e){
                    
                    e.preventDefault();
                    product_id = $(this).data('index');
                    $.ajax({
                        type: 'POST',
                        url:'{% url "remove-from-cart" %}',
                        data: {
                            product_id:product_id,
                            
                            csrfmiddlewaretoken:'{{ csrf_token }}',
                            action: 'post',
                        },

                        success: function(json){
                            $('#product-' + product_id).remove();
                            $('#product-' + product_id).remove();
                            $('#cart-count').text(json.qty)
                            $('#total-price').text(json.total_price); 
                            $('#cart_total').text(json.total_price); 
                            $('#dropdown-total').text(json.total_price); 

                    

                        },
                        error: function(xhr, errmsg, err){

                        }
                    });




                });







 </script>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
$(document).on('change', '#country', function(e) {
    e.preventDefault();
    
    var country_id = $(this).val();  // Get the selected country ID
    
    $.ajax({
        type: 'POST',
        url: '{% url "shipping_calc" %}',  // URL of the view
        data: {
            country_id: country_id,
            csrfmiddlewaretoken: '{{ csrf_token }}',
            action: 'get_states',  // Specify the action for states
        },
        success: function(response) {
            // Clear the existing state options
            $('#state').empty();
            $('#state').append('<option value="">Select State</option>');
            
            // Populate the state dropdown with the new options
            $.each(response.states, function(index, state) {
                $('#state').append('<option value="'+state.iso2+'">'+state.name+'</option>');
            });

            // Clear the city dropdown as well since state has changed
            $('#city').empty();
            $('#city').append('<option value="">Select City</option>');
        },
        error: function(xhr, errmsg, err) {
            console.log('Error:', errmsg);
        }
    });
});

$(document).on('change', '#state', function(e) {
    e.preventDefault();
    
    var state_code = $(this).val();
    var country_id = $('#country').val();  // Get the selected state ID
    console.log(state_code)
    console.log(country_id)
    
    $.ajax({
        type: 'POST',
        url: '{% url "shipping_calc" %}',  // URL of the view
        data: {
            state_code: state_code,
            country_id: country_id,
            csrfmiddlewaretoken: '{{ csrf_token }}',
            action: 'get_cities',  // Specify the action for cities
        },
        success: function(response) {
            // Clear the existing city options
            $('#city').empty();
            $('#city').append('<option value="">Select City</option>');
            
            // Populate the city dropdown with the new options
            $.each(response.cities, function(index, city) {
                $('#city').append('<option value="'+city.name+'">'+city.name+'</option>');
            });
        },
        error: function(xhr, errmsg, err) {
            console.log('Error:', errmsg);
        }
    });
});


// Function to calculate shipping
function calculateShipping() {
    var country = $('#country').val();  // Get the selected country
    var state = $('#state').val();      // Get the selected state
    var city = $('#city').val();        // Get the selected city
    var total_price = $('#total-price').text();  // Get the total price

    // Debugging logs
    console.log("Country:", country);
    console.log("State:", state);
    console.log("City:", city);
    console.log("Total Price:", total_price);

    $.ajax({
        type: 'POST',
        url: '{% url "calculate_shipping" %}',  // URL of the view to calculate shipping
        data: {
            country: country,
            state: state,
            city: city,
            total_price: total_price,
            csrfmiddlewaretoken: '{{ csrf_token }}',
        },
        success: function(response) {
            // Debugging log for server response
            console.log("Server Response:", response);

            if (response.success) {
                // Update the shipping cost and total price
                $('#shipping_cost').text(response.shipping_cost + ' {{ store.store_currency}}');
                $('#final-total').text(response.total_price + ' {{ store.store_currency}}');
            } else {
                console.log('Error:', response.error);
            }
        },
        error: function(xhr, errmsg, err) {
            console.log('AJAX Error:', errmsg);
        }
    });
}

// Trigger shipping calculation when state is changed
$(document).on('change', '#state', function(e) {
    e.preventDefault();
    console.log("State changed, recalculating shipping...");
    calculateShipping();  // Call the function to calculate shipping
});

// Trigger shipping calculation when city is changed
$(document).on('change', '#city', function(e) {
    e.preventDefault();
    console.log("City changed, recalculating shipping...");
    calculateShipping();  // Call the same function to calculate shipping
});






document.querySelector('.search-toggle').addEventListener('click', function(e) {
    e.preventDefault(); // Prevent default link behavior
    document.getElementById('searchPopup').style.display = 'flex'; // Show popup
});

document.querySelector('.close').addEventListener('click', function() {
    document.getElementById('searchPopup').style.display = 'none'; // Hide popup
});

// Close popup when clicking outside of the search-content
window.addEventListener('click', function(e) {
    const searchPopup = document.getElementById('searchPopup');
    if (e.target == searchPopup) {
        searchPopup.style.display = 'none'; // Hide popup
    }
});

</script>

<!-- Plugins JS File -->
<script src="{% static "store/assets/js/jquery.min.js" %}"></script>
<script src="{% static "store/assets/js/bootstrap.bundle.min.js" %}"></script>
<script src="{% static "store/assets/js/jquery.hoverIntent.min.js" %}"></script>
<script src="{% static "store/assets/js/jquery.waypoints.min.js" %}"></script>
<script src="{% static "store/assets/js/superfish.min.js" %}"></script>
<script src="{% static "store/assets/js/owl.carousel.min.js" %}"></script>
<script src="{% static "store/assets/js/jquery.plugin.min.js" %}"></script>
<script src="{% static "store/assets/js/jquery.magnific-popup.min.js" %}"></script>
<script src="{% static "store/assets/js/jquery.countdown.min.js" %}"></script>
<!-- Main JS File -->

<script src="{% static "store/assets/js/main.js" %}"></script>
<script src="{% static "store/assets/js/demos/demo-8.js" %}"></script>
</body>











<!-- ./index-8.html  22 Nov 2019 09:57:25 GMT -->
</html>

