{% extends 'store/base.html' %}
{% block body_block %}

        	
            <div class="page-header text-center" style="background-image: url('assets/images/page-header-bg.jpg')">
        		<div class="container">
        			<h1 class="page-title">Our Collections</h1>
        		</div><!-- End .container -->
        	</div><!-- End .page-header -->
            <nav aria-label="breadcrumb" class="breadcrumb-nav breadcrumb-with-filter">
                <div class="container">
                	<a href="#" class="sidebar-toggler"><i class="icon-bars"></i>Filters</a>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                        <li class="breadcrumb-item"><a href="#">Shop</a></li>
                        <li class="breadcrumb-item"><a href="#">Product Category</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Boxed</li>
                    </ol>
                </div><!-- End .container -->
            </nav><!-- End .breadcrumb-nav -->

            <div class="page-content">
            	<div class="categories-page">
	                <div class="container">
	                	<div class="row">
							{% for category in categories %}
	                		<div class="col-md-4">
	                			<div class="banner banner-cat banner-badge">
		                			<a href="#">
		                				<img src="{{category.image.url}}" alt="Banner">
		                			</a>

		                			<a class="banner-link" href="{% url 'shop' category.slug %}">
		                				<h3 class="banner-title">{{category.name}}</h3><!-- End .banner-title -->
		                				<span class="banner-link-text ">Shop Now</span>
		                			</a><!-- End .banner-link -->
	                			</div><!-- End .banner -->

	              
	                		</div><!-- End .col-md-6 -->
							{% endfor %}

	                		<!-- End .col-md-6 -->
	                	</div><!-- End .row -->
	                </div><!-- End .container -->
                </div><!-- End .categories-page -->

            </div><!-- End .page-content -->
            {% endblock %} 
