{% extends 'store/base.html' %}
{% block body_block %}

        	<div class="page-header text-center" style="background-image: url('assets/images/page-header-bg.jpg')">
        		<div class="container">
        			<h1 class="page-title">Checkout<span>Shop</span></h1>
        		</div><!-- End .container -->
        	</div><!-- End .page-header -->
            <nav aria-label="breadcrumb" class="breadcrumb-nav">
                <div class="container">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                        <li class="breadcrumb-item"><a href="#">Shop</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Checkout</li>
                    </ol>
                </div><!-- End .container -->
            </nav><!-- End .breadcrumb-nav -->

            <div class="page-content">
            	<div class="checkout">
	                <div class="container">
            			<div class="checkout-discount">
            			</div><!-- End .checkout-discount -->
            			<form method="POST" action="{% url 'process-order' %}">
							{% csrf_token %}
		                	<div class="row chckout-row">
		                		<div class="col-lg-8 shiping_details">
		                			<h2 class="checkout-title">Shipping Details</h2><!-- End .checkout-title -->
		                				<div class="row">
		                					<div class="col-sm-12">
		                						<label>Name *</label>
		                						{{shipping_form.name}}
		                					</div><!-- End .col-sm-6 -->
		                				</div><!-- End .row -->
		                				<div class="row">
		                					<div class="col-sm-12">
		                						<label>Phone *</label>
		                						{{shipping_form.phone}}
		                					</div><!-- End .col-sm-6 -->
		                					<div class="col-sm-12">
		                						<label>Email *</label>
		                						{{shipping_form.email}}
		                					</div><!-- End .col-sm-6 -->
		                				</div><!-- End .row -->

	            						

	            						
										<div class="row">
		                					<div class="col-sm-12">
		                						<label>Country *</label>
		                						<select name="country" class="form-control" id="country" required>
													
													{% for country in countries %}
													<option value="{{ country.iso2 }}">{{ country.name }}</option>
												{% endfor %}
												</select>
		                					</div><!-- End .col-sm-6 -->

		                					
		                				</div><!-- End .row -->

	            						<div class="row">
											<div class="col-sm-6">
												
		                						<label>State*</label>
		                						{{shipping_form.state}}
		                					</div><!-- End .col-sm-6 -->
		                					<div class="col-sm-6">
		                						<label>Town / City *</label>
		                						{{shipping_form.city}}
		                					</div><!-- End .col-sm-6 -->

		                					
		                				</div><!-- End .row -->

		                				<div class="row">
		                					<div class="col-sm-12">
		                						<label>Postcode / ZIP </label>
		                						{{shipping_form.zip_code}}
		                					</div><!-- End .col-sm-6 -->
		                					<div class="col-sm-12">
		                						<label>Address *</label>
		                						{{shipping_form.address}}
		                					</div><!-- End .col-sm-6 -->
									
		                				
		                				</div><!-- End .row -->

	                				

		                		</div><!-- End .col-lg-9 -->
		                		<aside class="col-lg-3 shiping_summary" >
		                			<div class="summary">
		                				<h3 class="summary-title">Your Order</h3><!-- End .summary-title -->

		                				<table class="table table-summary">
		                					<thead>
		                						<tr>
		                							<th>Product</th>
		                							<th>Total</th>
		                						</tr>
		                					</thead>

		                					<tbody>
											
												{% for product in cart_items %}

		                						<tr>
		                							<td><a href="#">{{product.name}}</a></td>

		                							<td>
														
														
														{% for key, value in qty.items %}
														{% if key == product.id|slugify %}
								   
														<span class="cart-product-qty" class="p-3">{{ value }} X</span>
   
											   			{% endif %}	{% endfor %}
											   
											 
											   			{% if product.on_sale %}		
														{{ store.store_currency}}{{product.sale_price}}
														{% else %}
														{{ store.store_currency}}{{product.regular_price}}
														{% endif %}
													
													
													</td>

		                						</tr>
												{% endfor %}












		                						<tr class="summary-subtotal">
		                							<td>Subtotal:</td>
		                							<td>{{ store.store_currency}}{{ total_price }}</td>
		                						</tr><!-- End .summary-subtotal -->
		                						<tr>
		                							<td>Shipping:</td>
													<td id="shipping_cost">Enter your shipping details</td>
		                						</tr>
		                						<tr class="summary-total">
		                							<td>Total:</td>
		                							<td><span id="final-total">{{ store.store_currency}}{{ total_price }}</span></td>
		                						</tr><!-- End .summary-total -->
		                					</tbody>
		                				</table><!-- End .table table-summary -->

		                				<div class="accordion-summary" id="accordion-payment">
								
										   
										    <div class="card">
										        <div class="card-header" id="heading-3">
										            <h2 class="card-title">
										                <a class="collapsed" role="button" data-toggle="collapse" href="#collapse-3" aria-expanded="false" aria-controls="collapse-3">
										                    Cash on delivery
										                </a>
										            </h2>
										        </div><!-- End .card-header -->
										        <div id="collapse-3" class="collapse" aria-labelledby="heading-3" data-parent="#accordion-payment">
										            <div class="card-body">Quisque volutpat mattis eros. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. 
										            </div><!-- End .card-body -->
										        </div><!-- End .collapse -->
										    </div><!-- End .card -->

										   

										    
										</div><!-- End .accordion -->

		                				<button type="submit" class="btn btn-outline btn-order btn-block">
		                					<span class="">Place Order</span>
		                				
		                				</button>
		                			</div><!-- End .summary -->
		                		</aside><!-- End .col-lg-3 -->
		                	</div><!-- End .row -->
            			</form>
	                </div><!-- End .container -->
                </div><!-- End .checkout -->
            </div><!-- End .page-content -->




            {% endblock %} 
