{% extends 'store/base.html' %}
{% block body_block %}


{% if page.slider %}
            <div class="intro-slider-container">
                <div class="intro-slider owl-carousel owl-theme owl-nav-inside owl-light mb-0" data-toggle="owl" data-owl-options='{
                        "dots": true,
                        "nav": false, 
                        "responsive": {
                            "1200": {
                                "nav": true,
                                "dots": false
                            }
                        }
                    }'>

                   
                
                    <div class="intro-slide" style="background-image: url({{page.slide1_image.url}});">
                        <div class="container intro-content text-right">
                            
                            <div class="row">
                                <div class="col-md-5"></div>
                                <div class="col-md-7"><h1 class="intro-title">{{page.slide1_heading}}</h1><!-- End .intro-title --></div>
                            </div>
                            <h3 class="intro-subtitle">{{page.slide1_secondary_heading}}</h3><!-- End .h3 intro-subtitle -->
                            {% if page.slide1_button_text == "" %}
                            {% else %}
                            <a href="{{page.slide1_button_link}}" class="btn">
                                <span>{{page.slide1_button_text}}</span>
                                <i class="icon-long-arrow-right"></i>
                            </a>

                            {% endif %}
                        </div><!-- End .intro-content -->
                       
                    </div><!-- End .intro-slide -->

                    <div class="intro-slide" style="background-image: url({{page.slide2_image.url}});">
                        <div class="container intro-content text-right">
                            <div class="row">
                                <div class="col-md-5"></div>
                                <div class="col-md-7"><h1 class="intro-title">{{page.slide2_heading}}</h1><!-- End .intro-title --></div>
                            </div>
                            
                            <h3 class="intro-subtitle">{{page.slide2_secondary_heading}}</h3><!-- End .h3 intro-subtitle -->
                            {% if page.slide2_button_text == "" %}
                            {% else %}
                            <a href="{{page.slide2_button_link}}" class="btn">
                                <span>{{page.slide2_button_text}}</span>
                                <i class="icon-long-arrow-right"></i>
                            </a>

                            {% endif %}
                        </div><!-- End .intro-content -->
                       
                    </div><!-- End .intro-slide -->
                </div><!-- End .intro-slider owl-carousel owl-simple -->

                <span class="slider-loader"></span><!-- End .slider-loader -->
            </div><!-- End .intro-slider-container -->

{% endif %}



{% if page.special_offer_banner %}
            <div class="pt-2 pb-2">
                <div class="container brands">
                    <div class="banner-group">
                        <div class="row">
                            <div class="col-sm-6 col-lg-4">
                                <div class="banner banner-overlay">
                                    <a href="{{page.special_offer_button_link1}}">
                                        <img src="{{page.special_offer_banner1_image.url}}" alt="{{page.special_offer_banner1_heading}}">
                                    </a>

                                    <div class="banner-content">
                                      
                                        <h3 class="banner-title"><a href="#"><strong>{{page.special_offer_banner1_heading}}</strong> <br>{{page.special_offer_banner1_secondary_heading}}</a></h3><!-- End .banner-title -->
                            {% if page.slide2_button_text == "" %}
                            {% else %}
                            <a href="{{page.special_offer_button_link1}}" class="btn btn-outline banner-link">{{page.special_offer_banner1_button_text}}<i class="icon-long-arrow-right"></i></a>
                            {% endif %}
                                    </div><!-- End .banner-content -->
                                </div><!-- End .banner -->
                            </div><!-- End .col-lg-4 -->
                            
                            <div class="col-sm-6 col-lg-4">
                                <div class="banner banner-overlay">
                                    <a href="{{page.special_offer_button_link2}}">
                                        <img src="{{page.special_offer_banner2_image.url}}" alt="{{page.special_offer_banner2_heading}}">
                                    </a>

                                    <div class="banner-content">
                                      
                                        <h3 class="banner-title"><a href="#"><strong>{{page.special_offer_banner2_heading}}</strong> <br>{{page.special_offer_banner2_secondary_heading}}</a></h3><!-- End .banner-title -->
                            {% if page.slide2_button_text == "" %}
                            {% else %}
                            <a href="{{page.special_offer_button_link2}}" class="btn btn-outline banner-link">{{page.special_offer_banner2_button_text}}<i class="icon-long-arrow-right"></i></a>
                            {% endif %}
                                    </div><!-- End .banner-content -->
                                </div><!-- End .banner -->
                            </div><!-- End .col-lg-4 -->
                            <div class="col-sm-6 col-lg-4">
                                <div class="banner banner-overlay">
                                    <a href="{{page.special_offer_button_link3}}">
                                        <img src="{{page.special_offer_banner3_image.url}}" alt="{{page.special_offer_banner3_heading}}">
                                    </a>

                                    <div class="banner-content">
                                      
                                        <h3 class="banner-title"><a href="#"><strong>{{page.special_offer_banner3_heading}}</strong> <br>{{page.special_offer_banner3_secondary_heading}}</a></h3><!-- End .banner-title -->
                            {% if page.slide3_button_text == "" %}
                            {% else %}
                            <a href="{{page.special_offer_button_link3}}" class="btn btn-outline banner-link">{{page.special_offer_banner3_button_text}}<i class="icon-long-arrow-right"></i></a>
                            {% endif %}
                                    </div><!-- End .banner-content -->
                                </div><!-- End .banner -->
                            </div><!-- End .col-lg-4 -->

                         

                          
                        </div><!-- End .row -->
                    </div><!-- End .banner-group -->

                </div><!-- End .container -->
            </div><!-- End .bg-lighter -->
            {% endif %}
            <div class="mb-3"></div><!-- End .mb-6 -->

            <div class="container">
                <br>
                <h2 class="title title-lg text-center">Our Favourite Picks</h2>
                <br>

           
                    <div class="tab-pane p-0 fade show active" id="products-featured-tab" role="tabpanel" aria-labelledby="products-featured-link">
                        <div class="owl-carousel owl-simple carousel-equal-height carousel-with-shadow" data-toggle="owl" 
                            data-owl-options='{
                                "nav": false, 
                                "dots": true,
                                "margin": 20,
                                "loop": false,
                                "responsive": {
                                    "0": {
                                        "items":2
                                    },
                                    "480": {
                                        "items":2
                                    },
                                    "768": {
                                        "items":3
                                    },
                                    "992": {
                                        "items":4
                                    },
                                    "1200": {
                                        "items":4,
                                        "nav": true,
                                        "dots": false
                                    }
                                }
                            }'>

                            {% for product in featured_products %}

                            <div class="product product-2">
                                <figure class="product-media">
                                    {% if product.on_sale and product.stock == True %}
                        <span class="product-label label-sale">sale</span>
                        {% elif product.stock == False %}
                        <span class="product-label label-out">Out Of Stock</span>
                        {% endif %}
                                    
                                    <a href="{% url 'product' product.slug %}">
                                        <img src="{{product.image.url}}" alt="Product image" class="product-image">
                                        <!-- <img src="/static/store/assets/images/demos/demo-8/products/product-1-2.jpg" alt="Product image" class="product-image-hover"> -->
                                    </a>

                                    <div class="product-action-vertical">
                                        <a href="#" class="btn-product-icon btn-wishlist btn-expandable" title="Add to wishlist"><span>add to wishlist</span></a>
                                    </div><!-- End .product-action -->

                                    <div class="product-action ">
                                        <input type="number" id="item-qty"  value="1"  hidden >
                                        <a href="" class="btn-product btn-cart"  id="add-cart" data-index="{{product.id}}" value="{{product.id}}"><span>add to cart</span></a>
                                    </div><!-- End .product-action -->
                                </figure><!-- End .product-media -->

                                <div class="product-body">
                                    <div class="product-cat">
                                        <a href="#">{{product.category}}</a>
                                    </div><!-- End .product-cat -->
                                    <h3 class="product-title"><a href="{% url 'product' product.slug %}">{{product.name}}</a></h3><!-- End .product-title -->
                                    <div class="product-price">
                                        {% if product.on_sale %}
                                        <span class="old-price">{{ store.store_currency}}{{product.regular_price}}</span> &nbsp; &nbsp;
                						<span class="new-price">{{ store.store_currency}}{{product.sale_price}}</span>
                                        {% else %}
                						<span class="new-price">{{ store.store_currency}}{{product.regular_price}}</span>
                                        {% endif %}
                                        
                						
                					</div>
                                    <!-- <div class="ratings-container ratings-container justify-content-center">
                						<div class="ratings">
                							<div class="ratings-val" style="width: 60%;"></div>
                						</div>
                						<span class="ratings-text">( 4 Reviews )</span>
                					</div> -->
                                    

                                </div><!-- End .product-body -->
                            </div><!-- End .product -->



{% endfor %}

                            

                        </div><!-- End .owl-carousel -->
                    </div><!-- .End .tab-pane -->

            </div><!-- End .container -->

            <div class="mb-3 mb-xl-2"></div><!-- End .mb-3 -->

    {% if page.tranding_section %}

            <div class="trending">
                <a href="{{page.tranding_button_link}}">
                    <img src="{{page.tranding_banner.url}}" alt="{{page.tranding_heading}}">
                </a>
                <div class="banner banner-big d-md-block">
                    <div class="banner-content text-center">
                      
                        <h3 class="banner-title text-white">{{page.tranding_heading}}</h3><!-- End .banner-title -->
                        <p class="d-none d-lg-block text-white">{{page.tranding_secondary_heading}}</p> 
                        {% if page.slide2_button_text == "" %}
                            {% else %}
                            <a href="{{page.tranding_button_link}}" class="btn btn-outline btn-more m-auto"><span>{{page.tranding_button_text}}</span><i class="icon-long-arrow-right"></i></a>
                        {% endif %}
                    </div><!-- End .banner-content -->
                </div><!-- End .banner -->
            </div>

    {% endif %}

    {% if page.new_arrival %}

            <div class="container new-arrivals">
                <div class="row">
                    <div class="col-md-6">
                        <div class="banner banner-overlay">
                            <a href="#">
                                <img src="{{page.new_arrival1_image.url}}" alt="{{page.new_arrival1_heading}}">
                            </a>

                            <div class="banner-content">
                                <h4 class="banner-subtitle d-none d-lg-block"><a href="#">{{page.new_arrival1_secondary_heading}}</a></h4><!-- End .banner-subtitle -->
                                <h3 class="banner-title"><a href="#">{{page.new_arrival1_heading}}</a></h3><!-- End .banner-title -->
                                <a href="{{page.new_arrival1_button_link}}" class="btn btn-outline banner-link">{{page.new_arrival2_button_text}}<i class="icon-long-arrow-right"></i></a>
                            </div><!-- End .banner-content -->
                        </div><!-- End .banner -->
                    </div><!-- End .col-md-6 -->
                    <div class="col-md-6">
                        <div class="banner banner-overlay">
                            <a href="#">
                                <img src="{{page.new_arrival2_image.url}}" alt="{{page.new_arrival2_heading}}">
                            </a>

                            <div class="banner-content">
                                <h4 class="banner-subtitle d-none d-lg-block"><a href="#">{{page.new_arrival2_secondary_heading}}</a></h4><!-- End .banner-subtitle -->
                                <h3 class="banner-title"><a href="#">{{page.new_arrival2_heading}}</a></h3><!-- End .banner-title -->
                                <a href="{{page.new_arrival2_button_link}}" class="btn btn-outline banner-link">{{page.new_arrival2_button_text}}<i class="icon-long-arrow-right"></i></a>
                            </div><!-- End .banner-content -->
                        </div><!-- End .banner -->
                    </div><!-- End .col-md-6 -->

                   
                </div><!-- End .row -->
            </div><!-- End .container -->
            {% endif %}
            <div class="mb-5"></div><!-- End .mb-5 -->

            <div class="container recent-arrivals">
                <div class="heading heading-flex align-items-center mb-3">
                    <h2 class="title title-lg" >Recent Arrivals</h2><!-- End .title -->
                   
                </div><!-- End .heading -->

                <div class="container">
                  
               
                        <div class="tab-pane p-0 fade show active" id="products-featured-tab" role="tabpanel" aria-labelledby="products-featured-link">
                            <div class="owl-carousel owl-simple carousel-equal-height carousel-with-shadow" data-toggle="owl" 
                                data-owl-options='{
                                    "nav": false, 
                                    "dots": true,
                                    "margin": 20,
                                    "loop": false,
                                    "responsive": {
                                        "0": {
                                            "items":2
                                        },
                                        "480": {
                                            "items":2
                                        },
                                        "768": {
                                            "items":3
                                        },
                                        "992": {
                                            "items":4
                                        },
                                        "1200": {
                                            "items":4,
                                            "nav": true,
                                            "dots": false
                                        }
                                    }
                                }'>
    
                                {% for product in recent_products %}
    
                                <div class="product product-2">
                                    <figure class="product-media">
                                        {% if product.on_sale and product.stock == True %}
                            <span class="product-label label-sale">sale</span>
                            {% elif product.stock == False %}
                            <span class="product-label label-out">Out Of Stock</span>
                            {% endif %}
                                        
                                        <a href="{% url 'product' product.slug %}">
                                            <img src="{{product.image.url}}" alt="Product image" class="product-image">
                                            <!-- <img src="/static/store/assets/images/demos/demo-8/products/product-1-2.jpg" alt="Product image" class="product-image-hover"> -->
                                        </a>
    
                                        <div class="product-action-vertical">
                                            <a href="#" class="btn-product-icon btn-wishlist btn-expandable" title="Add to wishlist"><span>add to wishlist</span></a>
                                        </div><!-- End .product-action -->
    
                                        <div class="product-action ">
                                            <input type="number" id="item-qty"  value="1"  hidden >
                                            <a href="" class="btn-product btn-cart"  id="add-cart" data-index="{{product.id}}" value="{{product.id}}"><span>add to cart</span></a>
                                        </div><!-- End .product-action -->
                                    </figure><!-- End .product-media -->
    
                                    <div class="product-body">
                                        <div class="product-cat">
                                            <a href="#">{{product.category}}</a>
                                        </div><!-- End .product-cat -->
                                        <h3 class="product-title"><a href="{% url 'product' product.slug %}">{{product.name}}</a></h3><!-- End .product-title -->
                                        <div class="product-price">
                                            {% if product.on_sale %}
                                            <span class="old-price">{{ store.store_currency}}{{product.regular_price}}</span> &nbsp; &nbsp;
                                            <span class="new-price">{{ store.store_currency}}{{product.sale_price}}</span>
                                            {% else %}
                                            <span class="new-price">{{ store.store_currency}}{{product.regular_price}}</span>
                                            {% endif %}
                                            
                                            
                                        </div>
                                        <!-- <div class="ratings-container ratings-container justify-content-center">
                                            <div class="ratings">
                                                <div class="ratings-val" style="width: 60%;"></div>
                                            </div>
                                            <span class="ratings-text">( 4 Reviews )</span>
                                        </div> -->
                                        
    
                                    </div><!-- End .product-body -->
                                </div><!-- End .product -->
    
    
    
    {% endfor %}
    
                                
    
                            </div><!-- End .owl-carousel -->
                        </div><!-- .End .tab-pane -->
    
                </div><!-- End .container -->
    
                <div class="mb-3 mb-xl-2"></div><!-- End .mb-3 -->
            <div class="mb-7"></div><!-- End .mb-5 -->
            {% if page.new_arrival %}
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-4 col-sm-6">
                        <div class="icon-box icon-box-card text-center">
                            <span class="icon-box-icon">
                                <img src="{{page.trust_box1_icon.url}}" width="60" alt="{{page.trust_box1_heading}}">
                            </span>
                            <div class="icon-box-content">
                                <h3 class="icon-box-title">{{page.trust_box1_heading}}</h3><!-- End .icon-box-title -->
                                <br>
                                <p>{{page.trust_box1_secondary_text}}</p>
                            </div><!-- End .icon-box-content -->
                        </div><!-- End .icon-box -->
                    </div><!-- End .col-lg-4 col-sm-6 -->

                    <div class="col-lg-4 col-sm-6">
                        <div class="icon-box icon-box-card text-center">
                            <span class="icon-box-icon">
                                <img src="{{page.trust_box2_icon.url}}" width="60" alt="{{page.trust_box2_heading}}">
                            </span>
                            <div class="icon-box-content">
                                <h3 class="icon-box-title">{{page.trust_box2_heading}}</h3><!-- End .icon-box-title -->
                                <br>
                                <p>{{page.trust_box2_secondary_text}}</p>
                            </div><!-- End .icon-box-content -->
                        </div><!-- End .icon-box -->
                    </div><!-- End .col-lg-4 col-sm-6 -->

                    <div class="col-lg-4 col-sm-6">
                        <div class="icon-box icon-box-card text-center">
                            <span class="icon-box-icon">
                                <img src="{{page.trust_box3_icon.url}}" width="60" alt="{{page.trust_box3_heading}}">
                            </span>
                            <div class="icon-box-content">
                                <h3 class="icon-box-title">{{page.trust_box3_heading}}</h3><!-- End .icon-box-title -->
                                <br>
                                <p>{{page.trust_box3_secondary_text}}</p>
                            </div><!-- End .icon-box-content -->
                        </div><!-- End .icon-box -->
                    </div><!-- End .col-lg-4 col-sm-6 -->
                </div><!-- End .row -->
            </div><!-- End .container -->
            {% endif %}


            {% endblock %} 
