
{% extends 'store/base.html' %}
{% block body_block %}


<div class="row">
    <div class="card col-sm-3 m-auto">
        <div class="card-body">
    
            <div class="p-3">
                <div class="float-right text-right">
                    <h4 class="font-18 mt-3 m-b-5">Welcome Back !</h4>
                    <p class="text-muted">Sign in to continue to Foxia.</p>
                </div>
                <a href="index.html" class="logo-admin"><img src="assets/images/logo_dark.png" height="26" alt="logo"></a>
            </div>
    
            <div class="p-3">
                
                <form method="POST">
                    {% csrf_token %}
    
                    <div class="form-group">
                        <label for="email" > Email</label>
                        <input type="text" name="email" class="form-control" id="email" placeholder="Enter Email">
                    </div>
    
                    <div class="form-group">
                        <label for="userpassword">Password</label>
                        <input type="password" name="password" class="form-control" id="userpassword" placeholder="Enter password">
                    </div>
    
                    <div class="form-group row m-t-30">
                        <div class="col-sm-6">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="customControlInline">
                                <label class="custom-control-label" for="customControlInline">Remember me</label>
                            </div>
                        </div>
                        <div class="col-sm-6 text-right">
                            <button class="btn btn-primary w-md waves-effect waves-light" type="submit">Log In</button>
                        </div>
                    </div>
    
                    <div class="form-group m-t-30 mb-0 row">
                        <div class="col-12 text-center">
                            <a href="pages-recoverpw.html" class="text-muted"><i class="mdi mdi-lock"></i> Forgot your password?</a>
                        </div>
                    </div>
                </form>
            </div>
    
        </div>
    </div>
    </div>
    <div class="m-t-40 text-center text-black-50">
        <p>Don't have an account ? <a href="{% url '' %}" class="font-600 text-black"> Signup Now </a> </p>
       
    </div>
    





{% endblock %}