{% extends 'store/my-account.html' %}
{% block account_body_block %}


    <style>
        table {
            width: 100%;
            margin: 50px auto;
            border-collapse: collapse;
        }
        table, th, td {
            border: 1px solid #ddd;
        }
        th, td {
            padding: 15px;
            text-align: left;
        }
        th {
            background-color: #f4f4f4;
        }
        tr:nth-child(even) {
            background-color: #f9f9f9;
        }
        button {
            background-color: #007BFF;
            color: white;
            border: none;
            padding: 10px 15px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            border-radius: 5px;
            cursor: pointer;
        }
        button:hover {
            background-color: #0056b3;
        }
        body > div.page-wrapper > main > div.page-content > div > div > div > div{
            margin-top: -60px!important;
        }
        .no-order{
            width: 100%;
            height: 200px!important;
            text-align: center;
            vertical-align: middle;
        }
    </style>

 {% if orders %}
<table>
    <thead>
        <tr>
            <th>Order ID</th>
            <th>Order Amount</th>
            <th>Order Item</th>
            <th>Order Date</th>
            <th>Order Status</th>
       
        </tr>
    </thead>
    <tbody> 
       
        {% for order in orders %}
        <tr>
           
            <td>{{order.order_id}}</td>
            <td>BDT {{order.order_amount}}</td>
            
            <td>{% for item in order_items %}
                {% if order.id == item.order.id  %}
                <b>-></b>  {{item.product}} X {{item.quantity}}<br>

                
                
                {% endif %}
                {% endfor %}



            </td>
            <td>{{order.date}}</td>
            <td>{{order.status}}</td>
           
        
        </tr>
        {% endfor %}

        
    </tbody>
</table>
{% else %}

<div class="no-order">No orders to show</div>

{% endif %}

{% endblock %}