{% extends 'store/base.html' %}
{% block body_block %}

            <div class="container">
                {% if page.page_banner %}
	        	<div class="page-header page-header-big text-center" style="background-image: url('{{page.page_banner.url}}')">
        			<h1 class="page-title text-white">{{page.page_title}}<span class="text-white">{{page.secendary_title}}</span></h1>
	        	</div><!-- End .page-header -->
				{%else%}
	        	<div class="page-header  text-center" style="background-color: #ffffff;">
        			<h1 class="page-title text-black">{{page.page_title}}<span class="text-black">{{page.secendary_title}}</span></h1>

					<hr class="mt-4 mb-5">
					
	        	</div><!-- End .page-header -->
				{% endif %}
            </div><!-- End .container -->

            <div class="page-content pb-0">
                <div class="container">
                    {{page.page_content|safe}}

                    <div class="mb-5"></div><!-- End .mb-4 -->
                </div><!-- End .container -->

              

             SSS

              
            </div><!-- End .page-content -->
            {% endblock %} 
