
{% extends 'store/base.html' %}
{% block body_block %}

            <nav aria-label="breadcrumb" class="breadcrumb-nav border-0 mb-0">
                <div class="container d-flex align-items-center">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
                        <li class="breadcrumb-item"><a href="{% url 'shop' %}">Products</a></li>
                        <li class="breadcrumb-item active" aria-current="page">{{product.name}}</li>
                    </ol>

                </div><!-- End .container -->
            </nav><!-- End .breadcrumb-nav -->

            <div class="page-content">
                <div class="container">
                    <div class="product-details-top mb-2">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="product-gallery">
                                    <figure class="product-main-image">
                                        <img id="product-zoom" src="{{product.image.url}}" data-zoom-image="/static/store/assets/images/products/single/extended/3-big.jpg" alt="{{product.name}}">

                                        <a href="#" id="btn-product-gallery" class="btn-product-gallery">
                                            <i class="icon-arrows"></i>
                                        </a>
                                    </figure><!-- End .product-main-image -->

                                   
                                </div><!-- End .product-gallery -->
                            </div><!-- End .col-md-6 -->

                            <div class="col-md-6 p-d-a">
                                <div class="product-details">
                                    <h1 class="product-title">{{product.name}}</h1><!-- End .product-title -->

                               
                                    <div class="product-price">
                                        {% if product.on_sale == True %}
                                        <span class="old-price">{{ store.store_currency}}{{product.regular_price}}</span> &nbsp; &nbsp;
                						<span class="new-price">{{ store.store_currency}}{{product.sale_price}}</span>
                                        {% else %}
                                        <span class="new-price">{{ store.store_currency}}{{product.regular_price}}</span>
                                        {% endif %}
                                    </div><!-- End .product-price -->

                                    <div class="product-content">
                                        <p>{{product.description|safe|truncatewords:100}}</p>
                                    </div><!-- End .product-content -->

                                    <!-- <div class="details-filter-row details-row-size">
                                        <label>Color:</label>

                                        <div class="product-nav product-nav-dots">
                                            <a href="#" class="active" style="background: #eab656;"><span class="sr-only">Color name</span></a>
                                            <a href="#" style="background: #333333;"><span class="sr-only">Color name</span></a>
                                            <a href="#" style="background: #3a588b;"><span class="sr-only">Color name</span></a>
                                            <a href="#" style="background: #caab97;"><span class="sr-only">Color name</span></a>
                                        </div>
                                    </div> -->


                                    <div class="details-filter-row details-row-size">
                                        <label for="qty">Qty:</label>
                                        <div class="product-details-quantity">
                                            <input type="number" id="item-qty" class="form-control" value="1"  min="1" max="10" step="1" data-decimals="0" required>
                                        </div><!-- End .product-details-quantity -->
                                    </div><!-- End .details-filter-row -->

                                    <div class="product-details-action">
                                       

                                    </div><!-- End .product-details-action -->
                                    <div class="product-details-action">
                                        
                                        <button class="btn-product btn-cart" id="add-cart" data-index="{{product.id}}"><span>add to cart</span></button> &nbsp;&nbsp;
                                        <!-- <a href="#" class="btn-product btn-cart"><span>add to cart</span></a> &nbsp;&nbsp;
                                        <a href="#" class="btn-product btn-cart"><span>buy now</span></a> -->

                                       
                                    </div><!-- End .product-details-action -->
                            
                                    <div
                                     class="product-details-footer">
                                        <div class="product-cat">
                                            <span>Category:</span>
                                            <a href="/shop/{{product.category.slug}}">{{product.category}}</a>,
                                           
                                        </div><!-- End .product-cat -->

                                     
                                    </div><!-- End .product-details-footer -->



                                </div><!-- End .product-details -->
                            </div><!-- End .col-md-6 -->
                        </div><!-- End .row -->
                    </div><!-- End .product-details-top -->
                </div><!-- End .container -->
                
                <div class="container " style="border-top:1px solid #00000011;">
                    <div class="mb-4"></div>
                    <h2 class="title text-left mb-4">Description</h2><!-- End .title text-center -->

                    <p>{{product.description|safe}}</p>
                </div>
               
                <div class="mb-4"></div>

                <div class="container">
                    <h2 class="title text-left mb-4">Related Products</h2
               
                    <div class="tab-pane p-0 fade show active" id="products-featured-tab" role="tabpanel" aria-labelledby="products-featured-link">
                        <div class="owl-carousel owl-simple carousel-equal-height carousel-with-shadow" data-toggle="owl" 
                            data-owl-options='{
                                "nav": false, 
                                "dots": true,
                                "margin": 20,
                                "loop": false,
                                "responsive": {
                                    "0": {
                                        "items":2
                                    },
                                    "480": {
                                        "items":2
                                    },
                                    "768": {
                                        "items":3
                                    },
                                    "992": {
                                        "items":4
                                    },
                                    "1200": {
                                        "items":4,
                                        "nav": true,
                                        "dots": false
                                    }
                                }
                            }'>

                            {% for product in related_products %}

                            <div class="product product-2">
                                <figure class="product-media">
                                    {% if product.on_sale and product.stock == True %}
                        <span class="product-label label-sale">sale</span>
                        {% elif product.stock == False %}
                        <span class="product-label label-out">Out Of Stock</span>
                        {% endif %}
                                    
                                    <a href="{% url 'product' product.slug %}">
                                        <img src="{{product.image.url}}" alt="Product image" class="product-image">
                                        <!-- <img src="/static/store/assets/images/demos/demo-8/products/product-1-2.jpg" alt="Product image" class="product-image-hover"> -->
                                    </a>

                                    <div class="product-action-vertical">
                                        <a href="#" class="btn-product-icon btn-wishlist btn-expandable" title="Add to wishlist"><span>add to wishlist</span></a>
                                    </div><!-- End .product-action -->

                                    <div class="product-action ">
                                        <input type="number" id="item-qty"  value="1"  hidden >
                                        <a href="" class="btn-product btn-cart"  id="add-cart" data-index="{{product.id}}" value="{{product.id}}"><span>add to cart</span></a>
                                    </div><!-- End .product-action -->
                                </figure><!-- End .product-media -->

                                <div class="product-body">
                                    <div class="product-cat">
                                        <a href="#">{{product.category}}</a>
                                    </div><!-- End .product-cat -->
                                    <h3 class="product-title"><a href="{% url 'product' product.slug %}">{{product.name}}</a></h3><!-- End .product-title -->
                                    <div class="product-price">
                                        {% if product.on_sale %}
                                        <span class="old-price">{{ store.store_currency}}{{product.regular_price}}</span> &nbsp; &nbsp;
                                        <span class="new-price">{{ store.store_currency}}{{product.sale_price}}</span>
                                        {% else %}
                                        <span class="new-price">{{ store.store_currency}}{{product.regular_price}}</span>
                                        {% endif %}
                                        
                                        
                                    </div>
                                    <!-- <div class="ratings-container ratings-container justify-content-center">
                                        <div class="ratings">
                                            <div class="ratings-val" style="width: 60%;"></div>
                                        </div>
                                        <span class="ratings-text">( 4 Reviews )</span>
                                    </div> -->
                                    

                                </div><!-- End .product-body -->
                            </div><!-- End .product -->



{% endfor %}

                            

                        </div><!-- End .owl-carousel -->
                    </div><!-- .End .tab-pane -->

            </div><!-- End .container -->
            </div><!-- End .page-content -->

             
            {% endblock %}