{% extends 'store/base.html' %}
{% block body_block %}

        	<div class="page-header text-center" style="background-image: url('/static/store/assets/images/page-header-bg.jpg')">
        		<div class="container">
        			<h1 class="page-title">{{category.name}}</span></h1>
        		</div><!-- End .container -->
        	</div><!-- End .page-header -->
            <nav aria-label="breadcrumb" class="breadcrumb-nav mb-2">
                <div class="container">
                </div><!-- End .container -->
            </nav><!-- End .breadcrumb-nav -->

            <div class="page-content">
                <div class="container">
                    {% if products %}    

                    <div class="products">
                        <div class="row">
                            
{% for product in products %}
                            <div class="col-6 col-md-4 col-lg-4 col-xl-3">
                                

                                <div class="product product-2">
                                    <figure class="product-media">
                                        {% if product.on_sale and product.stock == True %}
                            <span class="product-label label-sale">sale</span>
                            {% elif product.stock == False %}
                            <span class="product-label label-out">Out Of Stock</span>
                            {% endif %}
                                        
                                        <a href="{% url 'product' product.slug %}">
                                            <img src="{{product.image.url}}" alt="Product image" class="product-image">
                                            <!-- <img src="/static/store/assets/images/demos/demo-8/products/product-1-2.jpg" alt="Product image" class="product-image-hover"> -->
                                        </a>
    
                                        <div class="product-action-vertical">
                                            <a href="#" class="btn-product-icon btn-wishlist btn-expandable" title="Add to wishlist"><span>add to wishlist</span></a>
                                        </div><!-- End .product-action -->
    
                                        <div class="product-action ">
                                            <input type="number" id="item-qty"  value="1"  hidden >
                                            <a href="" class="btn-product btn-cart"  id="add-cart" data-index="{{product.id}}" value="{{product.id}}"><span>add to cart</span></a>
                                        </div><!-- End .product-action -->
                                    </figure><!-- End .product-media -->
    
                                    <div class="product-body">
                                        <div class="product-cat">
                                            <a href="#">{{product.category}}</a>
                                        </div><!-- End .product-cat -->
                                        <h3 class="product-title"><a href="{% url 'product' product.slug %}">{{product.name}}</a></h3><!-- End .product-title -->
                                        <div class="product-price">
                                            <span class="old-price">{{ store.store_currency}}{{product.regular_price}}</span> &nbsp; &nbsp;
                                            <span class="new-price">{{ store.store_currency}}{{product.sale_price}}</span>
                                            
                                        </div>
                                        <div class="ratings-container ratings-container justify-content-center">
                                            <div class="ratings">
                                                <div class="ratings-val" style="width: 60%;"></div><!-- End .ratings-val -->
                                            </div><!-- End .ratings -->
                                            <span class="ratings-text">( 4 Reviews )</span>
                                        </div>
                                        
    
                                    </div><!-- End .product-body -->
                                </div><!-- End .product -->
    
    
    

                            </div><!-- End .col-sm-6 col-lg-4 col-xl-3 -->
    {% endfor %}
                        </div><!-- End .row -->

                    </div><!-- End .products -->

                    {% else %}
                    <div class="alert alert-secondary rounded text-center" role="alert">
                        <br><br><br><br>
                        <h4 class="title">There is no products to show </h4> <br><a class="btn btn-outline" href="{% url 'shop' %}"><b>Shop Now</b></a>
                        <br><br><br><br>
                      </div>
                    {% endif %}
                </div><!-- End .container -->
            </div><!-- End .page-content -->
            {% endblock %} 
